// Reset para iconos y botones por defecto de navegadores en inputs

// select 
::-ms-expand {
    color: rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
    border: none;
    display: none;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

// number
::-webkit-textfield-decoration-container {}

::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield; // firefox
}

// Password - Oculta el boton de mostrar contraseña (el ojo)
::-ms-reveal {
    display: none;
}


// Input search
// Remove the rounded corners */
input[type=search] {
    -webkit-appearance: none;
}

// Hide the cancel button */
::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

// Hide the magnifying glass */
::-webkit-search-results-button {
    -webkit-appearance: none;
}


// Hide the cancel button */
::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

// Hide the magnifying glass */
::-webkit-search-results-button {
    -webkit-appearance: none;
}

// Remove the rounded corners */
input[type=search] {
    -webkit-appearance: none;
}

// Color swatches */
::-webkit-color-swatch-wrapper {
    border: 0px solid $b;
}

::-webkit-color-swatch {
    opacity: 1;
    width: 100%;
    padding: 0;
    margin: 0;
}

// date inputs */
::-webkit-datetime-edit {
    //padding: 0; 
}

::-webkit-datetime-edit-fields-wrapper {
    //background: silver; 
    // display: none;
    // opacity: 0;
}

// ::-webkit-datetime-edit-text { color: red; padding: 0 0.3em; }
// ::-webkit-datetime-edit-month-field { color: blue; }
// ::-webkit-datetime-edit-day-field { color: green; }
// ::-webkit-datetime-edit-year-field { color: purple; }
::-webkit-inner-spin-button {
    display: none;
}

::-webkit-calendar-picker-indicator {
    // background: orange; 
    background: none;
    width: 0px;
    height: 0px;
    padding: 0;
    margin: 0;
}

// File type
::-ms-browse {
    // background: black;
    // color: red;
    // padding: 1em;
}

// quitar el boton de vaciar campoc (icono X)
::-ms-clear {
    display: none;
}

// Checkbox 
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {

    // ie10 FIX
    input::-ms-check {
        display: none
    }

    input::-ms-check {
        /* IE 8 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        /* IE 5-7 */
        filter: alpha(opacity=0);
        /* Good browsers :) */
        opacity: 0;
    }
}

// Autocompletados
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus select:-webkit-autofill:active {
    border: 0px solid $w !important;
    -webkit-text-fill-color: inherit !important;
    -webkit-box-shadow: 0 0 0px 0px $w inset !important;
    background-color: $w !important;
    transition: background-color 0s ease-in-out 0s !important;
}

input:-internal-autofill-previewed,
input:-internal-autofill-selected {
    border: 0px solid $w !important;
    -webkit-text-fill-color: inherit !important;
    -webkit-box-shadow: 0 0 0px 0px $w inset !important;
    background-color: $w !important;
    transition: background-color 0s ease-in-out 0s !important;
}

input:-internal-autofill-previewed,
input:-internal-autofill-selected {
    border: 0px solid $w !important;
    -webkit-text-fill-color: inherit !important;
    -webkit-box-shadow: 0 0 0px 0px $w inset !important;
    background-color: $w !important;
    transition: background-color 0s ease-in-out 0s !important;
}

@-webkit-keyframes autofill {

    0%,
    100% {
        color: inherit;
        background: $w;
    }
}

input:-webkit-autofill {
    -webkit-animation-delay: 1s;
    /* Safari support - any positive time runs instantly */
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

// Configuración geneal de elementos form

// label
@mixin form_label {
    font-size: rem(13);
    line-height: em(21, 13);
    font-weight: 400;
    color: $c_text;
    margin-bottom: em(4, 13);
}

label,
.form-label {
    @include form_label;
}

@mixin form_input {
    font-size: rem(14);
    line-height: em(24, 14);
    color: #6E6E6E;
    background-color: $w;
    border: solid rem(1) $c_alternative;
    border-radius: $br_box;
    padding: em(5, 25) em(8, 14) em(1, 14);
    height: inherit;
}

@mixin form_extraText {
    font-size: rem(12);
    font-family: $ff_verdana;
    margin-top: rem(-9);
    margin-bottom: rem(7);
    color: $c_text;
}

.form-text {
    @include form_extraText;
}

// select
.psnn-select-wrapper {
    select {
        cursor: pointer;
    }
}

.ui-selectmenu-dropdown {
    @include form_input;

    span.ui-selectmenu-status {
        padding: 0;
    }

    &.ui-state-active {
        background-color: $w;
    }
}

// Option
option {
    font-size: 0.875rem;
    font-weight: 400;
    color: $b;
    background-color: $w;
    font-family: $ff;

    // outline-color: $c_border;
    &:hover,
    &:focus,
    &:checked {
        // background-color: $c_principal;
        color: $w;
    }
}

@mixin placeHolder {
    color: $form_c_placeholder;
    opacity: 1;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    @include placeHolder;
}

::-moz-placeholder {
    /* Firefox 19+ */
    @include placeHolder;
}

:-ms-input-placeholder {
    /* IE 10+ */
    @include placeHolder;
}

:-moz-placeholder {
    /* Firefox 18- */
    @include placeHolder;
}

@mixin focusInput {
    color: $b;
    background-color: inherit;
    // border-color: $c_principal;
    outline: 0;
    // box-shadow: 0 0 0 rem(2) rgba($c_eusAzul, .6);
}


@mixin disabledInput {
    pointer-events: none;
    cursor: default;
    border-color: $form_c_DisabledBorder;
    background-color: $form_c_DisabledBg;
    color: $c_text;
    opacity: 1;
}


//input
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    @include form_input;
    height: 32px;

    &:focus {
        @include focusInput();
    }
}

// Theme Form
// .psnn_box .psnn_form {
//     padding-bottom: 13px;
// }


fieldset {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    border: none;
}


// Bootstrap form
.form-group label,
.form-group legend,
.col-form-label {
    @include form_label;
    margin-top: 1px;
    padding-top: 0;
    padding-bottom: 0;
}

.form-control {
    @include form_input;

    &:focus {
        @include focusInput();
    }
}

// TextArea
::-webkit-resizer {
    // background: $trans;
}

// .hasTextarea {
//     position: relative;
//     label:after {
//         content:'';
//         position: absolute;
//         z-index: 0;
//         right: 15px;
//         bottom: 0;
//         width: 21px;
//         height: 21px;
//         pointer-events: none;
//         background: $trans url("#{$img}textAreaBg.png")no-repeat right bottom;
//     }
// }

// Select 
select.form-control,
select.form-select {
    @include form_input;
    // background-image: url(#{$img}icon_select-dropdown.svg);
    background-repeat: no-repeat;
    background-position: right -1px top -1px;
    background-size: rem(32) auto;

    &:disabled {
        background-position: right -1px top -33px; //( -1 - 32px)
    }
}

// ui-selectmenu-focus ui-selectmenu-item-focus ui-state-hover
.ui-widget-content li.ui-state-hover {
    border-width: 0;

    // background-color: $c_principal;
    a,
    a:link {
        color: $w;
    }
}

.ui-selectmenu-dropdown {
    &.ui-state-default {
        background-color: $w;
    }

    &.ui-state-hover {
        color: inherit;
    }

    // &.ui-state-active {
    //     border-bottom-left-radius: 0;
    //     border-bottom-right-radius: 0;
    //     border-bottom-width: 0;
    // }
    // }
    // .ui-selectmenu-menu {
    //     .ui-selectmenu-menu-dropdown {
    //         border-top-width: 0;
    //         border-bottom-left-radius: 5px;
    //         border-bottom-right-radius: 5px;
    //         box-shadow: none;
    //     }
}

.disabled .ui-selectmenu-dropdown.ui-state-default,
.form-select:disabled {
    @include disabledInput;
}

.psnn-select {

    label,
    label.select-material {
        position: unset;

    }
}


// Checkbox and Radio buttons
.form-check {
    padding-left: 0;

    .form-check-label {
        position: relative;
        font-size: rem(14);
        line-height: 1.45;
        font-weight: 400;
        color: $b;
        margin-top: em(11, 14);
        padding-left: em(25.5, 14);
    }

    +.form-check {
        margin-top: rem(-11.5);
    }
}

.form-check-inline:not(:first-child) {
    padding-left: 12px;
}

input[type="checkbox"],
input[type="radio"],
.form-check-input {
    +.form-check-label {
        font-size: rem(14);
        line-height: em(19.6, 14);
        color: $form_c_check-label;
        margin-top: rem(34);
        margin-bottom: rem(18);
    }
}

.form-group {

    input[type="checkbox"],
    input[type="radio"],
    .form-check-input {
        +.form-check-label {
            margin-top: rem(8);
            margin-bottom: rem(19);
            color: $c_text;
            opacity: 1;
        }
    }
}

@mixin checkboxRadioDisplayOut {
    appearance: none;
    position: absolute;
    left: -99999999em;
}

// Checkbox
input[type="checkbox"] {
    @include checkboxRadioDisplayOut;
}

input[type="checkbox"] {
    +.form-check-label {
        position: relative;
        padding-left: rem(24);

        &:before,
        &:after {
            position: absolute;
            cursor: pointer;
        }

        &:before {
            content: '';
            left: 0;
            top: 0;
            display: inline-block;
            width: rem(16);
            height: rem(16);
            border-radius: $br_box;
            border: solid rem(1) $form_c_border;
            margin-top: 0;
        }
    }

    &:checked+.form-check-label {
        &:before {
            // background-color: $c_eusAzul;
            border-color: $form_c_borderFocus;
        }

        &:after {
            content: '';
            left: 0;
            top: 0;
            display: block;
            width: rem(16);
            height: rem(16);
            border: none;
            // background: url('#{$img}icon_checkbox-check.svg') no-repeat left top;
            background-size: rem(16) auto;
        }
    }

    &:disabled,
    &[readonly] {
        +.form-check-label {
            pointer-events: none;
            cursor: default;

            &:before {
                background-color: $form_c_DisabledBg;
                border-color: $form_c_DisabledBorder;
            }

            &:after {
                border-color: #94B3C7;
                background-position-y: bottom;
            }
        }
    }

    &:focus-visible {
        outline: none;

        +.form-check-label {
            @include focusVisible;
        }
    }
}

// Switch
.form-check.form-switch {
    .form-check-label {
        padding-left: 0;
        margin-top: rem(34);
        margin-bottom: rem(18);
    }

    .form-check-input {
        position: inherit;
        float: none;
        width: rem(32);
        height: rem(16);
        border-radius: 999rem;
        margin-left: rem(4);
        margin-top: rem(34);
        border: solid rem(1) $form_c_border;
        background-color: $c_bgButton;
        // background-image: url('#{$img}switch-dot.svg');
        background-position: left -1px top -1px;
        background-size: rem(16) auto;

        &:checked {
            border-color: $c_principal;
            background-color: $c_principal;
            background-position: right -1px top -17px;
        }

        &:disabled {
            opacity: 1;
            border-color: $form_c_DisabledBorder;
            background-color: $form_c_DisabledBg;
            background-position: left -1px bottom -1px;

            &:checked {
                background-color: $form_c_DisabledBorder;
                background-position: right -1px bottom -1px;
            }
        }
    }
}

.form-group {
    .form-check.form-switch {
        .form-check-input {
            margin-top: rem(8);
        }

        .form-check-label {
            margin-top: rem(8);
        }
    }
}

// Radio Button
input[type="radio"],
input[type="radio"].form-check-input {
    @include checkboxRadioDisplayOut;
}


input[type="radio"].form-check-input {
    +.form-check-label {
        padding-left: rem(24);

        &:before,
        &:after {
            position: absolute;
            cursor: pointer;
        }

        &:before {
            content: '';
            left: 0;
            top: 0;
            display: inline-block;
            width: rem(16);
            height: rem(16);
            border-radius: 999rem;
            border: solid rem(1) $form_c_border;
            // margin-top: 1px;
        }
    }

    &:checked+.form-check-label {
        &:before {
            background-color: $form_c_borderFocus;
            border-color: $form_c_borderFocus;
            box-shadow: inset rem(0) rem(0) rem(0) rem(3) $w;
        }
    }

    &:disabled,
    &[readonly] {
        +.form-check-label {
            pointer-events: none;
            cursor: default;

            &:before {
                background-color: $form_c_DisabledBg;
                border-color: $form_c_DisabledBorder;
            }
        }

        &:checked+.form-check-label {
            &:before {
                background-color: $form_c_border;
                border-color: $form_c_DisabledBorder;
                box-shadow: inset rem(0) rem(0) rem(0) rem(3) $form_c_DisabledBg;
            }
        }
    }

    &:focus-visible {
        outline: none;

        +.form-check-label {
            @include focusVisible;
        }
    }
}


// Subir archivo - file upload
.psnn-inputUpload {
    legend {
        font-family: $ff;
        font-size: rem(16);
        line-height: em(25, 16);
        font-weight: 600;
        // color: $c_principal;
    }

    .fileupload-input {
        display: inline-flex;
        flex-direction: row-reverse;

        label {
            @include btn-Default;
            @include btn-small;

            // background-color: $c_bgAzul;
            &:hover {
                // background-color: $c_principal;
                color: $w;
            }
        }
    }

    button,
    button[type=submit],
    input[type=submit],
    input[type=button] {
        @include btn-small;
        vertical-align: inherit;
        margin-left: em(18, 10);
    }

    input[type="file"] {
        font-family: $ff;
        font-size: rem(15);
        line-height: em(20, 15);
        font-weight: 400;

        border: none;
        background-color: $trans;
        padding: 0;
        margin: 0;
        // color: $c_border;
        text-indent: em(-8, 15);
    }

    input[type="file"]::-webkit-file-upload-button {
        visibility: hidden;
        width: 0;
        padding: 0;
    }

    // input[type="file"]:before {
    //     content: 'Select some files';
    //     display: inline-block;
    //     background: linear-gradient(top, #f9f9f9, #e3e3e3);
    //     border: 1px solid #999;
    //     border-radius: 3px;
    //     padding: 5px 8px;
    //     outline: none;
    //     white-space: nowrap;
    //     -webkit-user-select: none;
    //     cursor: pointer;
    //     text-shadow: 1px 1px #fff;
    //     font-weight: 700;
    //     font-size: 10pt;
    // }
    input[type="file"]:hover:before {
        border: none;
    }

    input[type="file"]:active:before {
        background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
    }
}

// Datepicker
.datepicker {
    // background-image: url("#{$img}ico_calendar.png");
    background-repeat: no-repeat;
    background-position: right top;
}

// iconos
.input-icon {
    position: relative;

    .psnn-icon {
        position: absolute;
        right: 0;
        top: 0;
        width: rem(24);
        height: rem(24);
        padding: 4px;
        box-sizing: content-box;

        border-radius: 0;

        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-color: $trans;
            background-position: top 0px right 0px;
            background-repeat: no-repeat;
            background-size: rem(24) auto;
        }
    }

    :disabled+.psnn-icon:before {
        background-position: bottom 0px right 0px;
        cursor: default;
        pointer-events: none;
    }

    .icon-search {
        background-color: $trans;

    }

    button.icon-search {
        width: 30px;
    }
}

// Agrupación con borde
.fieldset-border {
    // border: solid rem(1) $form_c_fieldset-border;
    border-radius: 5px;
    padding: 2px 8px 4px;
    margin-left: -4px;
    margin-top: -4px;

    input[type="checkbox"],
    input[type="radio"] {
        +.form-check-label {
            margin-top: em(10, 16);
        }
    }
}

.form-row>.fieldset-border {
    padding-left: 8px;
    padding-right: 8px;
}


// Disabled
.form-group.disabled {
    label {
        opacity: .5;
    }
}

.form-control {

    &:disabled,
    &.disabled {
        @include disabledInput;
    }

    &[readonly] {
        pointer-events: none;
        cursor: default;
        background-color: inherit;
        opacity: 1;
        padding: rem(6) 0 0;
        border: none;
    }
}

// Validation
.invalid-feedback {
    @include form_extraText;
    color: $c_alert;
}

.invalid {
    .invalid-feedback {
        display: block;
    }
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
    // background-image: url('#{$img}icon_warning.svg');
    background-repeat: no-repeat;
    background-position: top rem(7) right rem(8);
    background-size: rem(16) auto;
    padding: rem(5) rem(31) rem(1) rem(8);
}

.was-validated .input-icon .form-control:invalid,
.input-icon .form-control.is-invalid {
    background-position: top rem(7) right rem(32);
    padding: rem(5) rem(51) rem(1) rem(8);
}

.was-validated .form-select:invalid:not([multiple]):not([size]),
.was-validated .form-select:invalid:not([multiple])[size="1"],
.form-select.is-invalid:not([multiple]):not([size]),
.form-select.is-invalid:not([multiple])[size="1"] {
    // background-image: url('#{$img}icon_warning.svg'), url(#{$img}icon_select-dropdown.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top rem(7) right rem(32), right -1px top -1px;
    background-size: rem(16) auto, rem(32) auto;
    padding: rem(5) rem(51) rem(1) rem(8);
}

// Form button group
form {
    .btn-group {
        margin-top: rem(24);
        margin-bottom: rem(10);

        button,
        button[type=submit],
        input[type=submit],
        input[type=button],
        .btn {
            &:not(:last-child) {
                margin-right: rem(24);
            }
        }
    }
}


.select_filter_container {
    display: flex;
    align-items: center;
    width: 40%;
    height: 32px;
    margin-right: 22px;

    label {
        margin-bottom: 0;
        width: 80%;
        text-align: right;
        display: inline-block;
        margin-right: 10px;
    }

    select {
        margin-bottom: 0;
        background-size: 20px;
        background-position: 97% center;
    }

    &.select_footer {
        width: auto;

        @media (max-width: 1532px) {
            width: auto;
        }

        label {
            width: auto;
            text-align: left;
            font-size: rem(14);

            @media (max-width: 1532px) {
                width: auto;
            }
        }

        .form-select {
            max-width: 65px;
            background-position: 87% center !important;
        }

    }

    &.select_input {
        margin-right: 0;
        justify-content: flex-end;

        label {
            width: auto;
        }

        .form-control {
            width: 50px;
            padding-top: 0;
        }
    }

}

.form-select {
    background-size: 11px !important;
    background-position: 97% center !important;
}

.accordion-body select {
    margin-top: 7px;
}

.input-icon {
    i {
        display: inline !important;
    }
}

input[type=checkbox]+.form-check-label:before {
    content: "";
    left: 0;
    top: 0;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 4px;
    border: solid 0.0625rem #94B3C7;
    margin-top: 0;
}

.styled-checkbox {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it

    &+label {
        position: relative;
        cursor: pointer;
        padding: 0;
    }

    // Box.
    &+label:before {
        content: '';
        display: inline-block;
        vertical-align: text-top;
        width: 18px;
        height: 18px;
        background: white;

        border: 2px solid black;
        border-radius: 3px;
    }

    // Box hover
    /*&:hover + label:before {
      background: $c_principal;
    }*/

    // Box focus
    &:focus+label:before {
        border-color: #f18092;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgb(226 0 37 / 25%);
    }

    // Box checked
    &:checked+label:before {
        background: $c_principal;
    }

    // Disabled state label.
    &:disabled+label {
        color: #b8b8b8;
        cursor: auto;
    }

    // Disabled box.
    &:disabled+label:before {
        box-shadow: none;
        background: #ddd;
    }

}

select.form-control,
select.form-select {
    color: black;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: $c_principal;
    color: $w;
}

.dropdown-menu {
    padding: 0;

    li {
        a {
            padding: 10px 10px;
        }
    }
}

option:hover,
option:focus,
option:checked {
    color: black;
}

.styled-checkbox:checked+label:before {
    background: #3D3A4B;
    border-color: #3D3A4B;
}

.styled-checkbox:checked+label:after {
    content: "";
    position: absolute;
    left: 6.5px;
    top: 5px;
    width: 6px;
    height: 10px;
    transform: rotate(40deg);
    border: solid 2px white;
    border-top-width: 0;
    border-left-width: 0;
}

.form-control {
    &.input-alert {
        max-width: 48px;
    }
}

.alert-label {
    min-width: 365px;
}

.th-name_alert {
    width: 300px;
}

.dayweek-check {
    label {
        padding: 3px 5px 0px 5px;
        margin-bottom: 0;
        font-size: rem(13);
        font-weight: 500;
        color: #3F3F3F;
        display: flex;
        align-items: flex-start;
        gap: 8px;
        border: 2px solid #3D3A4B;
        border-radius: 3px;
    }

    .styled-checkbox {
        &:focus {
            +label {
                &::before {
                    box-shadow: none;
                    border-color: black;
                }
            }
        }

        &:checked {
            +label {
                background-color: #3D3A4B;
                border-radius: 3px;
                color: white;

                &::before {
                    background: $w;
                    border-color: $w;
                }

                &::after {
                    background-image: url("#{$img}checked.svg");
                    background-repeat: no-repeat;
                    display: inline-block;
                    background-size: 13px;
                    background-position: center 3.5px;
                    width: 21px;
                    height: 15px;
                    position: absolute;
                    transform: none;
                    border: none;
                    left: 3.5px;
                    top: 4px;
                }
            }
        }
    }
}

.deltail-container__wrapper {
    .form-control {
        &.time-control {
            max-width: 164px;
        }
    }

    .islc-icon {
        &.icon-clock {
            &::after {
                content: "";
                display: inline-block;
                background-image: url("#{$img}clock.svg");
                background-repeat: no-repeat;
                width: 16px;
                height: 16px;
                position: absolute;
                top: 34px;
                left: 136px;
            }
        }
    }
}