@{
    ViewBag.Title = "GrupoNuevo";
}

<div class="gn-body">
    <div class="gn-body-wrapper">
        <div class="body-aside">
            <div class="aside-wrapper">
                <aside class="aside">
                    <nav class="main-nav">
                        <ul>
                            <li>
                                <a href="~/Administracion/Usuarios">
                                    <span class="nav_item nav_item__user"></span>
                                    <span class="nav_text">Usuarios</span>
                                </a>
                            </li>
                            <li>
                                <a href="~/Administracion/Grupos" class="active_menu">
                                    <span class="nav_item nav_item__groups"></span>
                                    <span class="nav_text">Grupos</span>
                                </a>
                            </li>
                            <li>
                                <a href="~/Administracion/Perfiles">
                                    <span class="nav_item nav_item__profile"></span>
                                    <span class="nav_text">Perfiles</span>
                                </a>
                            </li>
                            <li>
                                <a href="~/Administracion/Organismos">
                                    <span class="nav_item nav_item__organisms"></span>
                                    <span class="nav_text">Organismos</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </aside>
            </div>
        </div>
        <div class="body-main">
            <div class="main-section">
                <div class="container-fluid mt-3 px-2">
                    <ul class="breadcrumbs">
                        <li><a href="">Administración</a></li>
                        <li><a href="~/Administracion/Grupos">Grupos</a></li>
                        <li><a href="">Nuevo grupo</a></li>
                    </ul>
                    <div class="content_title d-flex justify-content-between">
                        <h1 class="title_menu">Grupo Nuevo</h1>
                    </div>
                    <div class="deltail-container profile-edit__container">
                        <div class="deltail-container__wrapper border-0 pb-0">
                            <div class="row">
                                <div class="col">
                                    <fieldset class="align-items-center">
                                        <div class="input-wrapper mb-2">
                                            <label for="admin01" class="form-label me-3">Nombre</label>
                                            <input type="text" class="form-control" id="txtNombre" value="">
                                        </div>
                                        <div class="input-wrapper mb-2">
                                            <label for="admin01" class="form-label me-3">Descripcion</label>
                                            <input type="text" class="form-control" id="txtDescripcion" value="">
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="deltail-container__wrapper pt-0">
                            <div class="row mt-4 mb-2 d-flex justify-content-between align-items-center">
                                <div class="col d-flex justify-content-start">
                                    <button class="btn-primary me-4" id="btnRegistrar">
                                        Registrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-content__container">
                    <div class="modal-content__wrapper">
                        <span class="advert-icon"></span>
                        <div class="modal-content__text">
                            <h5 id="mensaje" style="padding: 5%;"></h5>
                        </div>
                    </div>
                    <button type="button" class="modal_button" data-bs-dismiss="modal" aria-label="Close">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var idPerfil = '@ViewBag.IdPerfil';
</script>
<script src="~/js/shared/layout.min.js"></script>
<script src="~/js/administracion/grupoNuevo.js"></script>