// Headings
@mixin psnn-p {
    font-size: rem(14);
    line-height: 1.6;
    color: $c_text;
}
@mixin psnn-h1 {
    font-family: $ff;
    font-size: rem(36);
    line-height: em(49,36);
    font-weight: 700;
    color: $b;
    margin-bottom: 0;
}
@mixin psnn-h2 {
    font-size: rem(30);
    line-height: em(42,30);
    font-weight: 300;
    color: $b;
}
@mixin psnn-h3 {
    font-size: rem(23);
    line-height: 1.4;
    font-weight: 400;
    color: $b;
}
@mixin psnn-h4 {
    font-size: rem(18);
    line-height: 1.4;
    font-weight: 500;
    color: $b;
}
@mixin psnn-h5 {
    font-size: rem(18);
    line-height: 1.4;
    font-weight: 400;
    color: $c_text;
}
@mixin psnn-h6 {
    font-size: rem(16);
    line-height: 1.4;
    font-weight: 700;
    color: $b;
}

@mixin psnn-nav_item {
    font-size: rem(13);
    line-height: 1.4;
    font-weight: normal;
    color: $w;
    text-transform: uppercase;
}

p {
    @include psnn-p;
    margin-bottom: em(16,14);
}
small {
    font-family: $ff_verdana;
    font-size: rem(12);
    line-height: 1.36;
    color: $b;
}

h1, .h1 {
    @include psnn-h1;
}
h2, .h2 {
    @include psnn-h2;
}
h3, .h3 {
    @include psnn-h3;
}
h4, .h4 {
    @include psnn-h4;
}
h5, .h5 {
    @include psnn-h5;
}
h6, .h6 {
    @include psnn-h6;
}

a {
    color: $c_text;
    text-decoration: underline;
    &:hover,
    &:focus {
        color: $c_principalOsc;
        text-decoration: none;
    }
}

ol, ul {
    list-style: none;
}
.main-content {
    padding-bottom: rem(64);
    ol, ul {
        padding-left: rem(26);
        margin-bottom: rem(18);
        li {
            @include psnn-p;
            margin-bottom: em(10,14);
        }
    }
    ul {
        li:before {
            content: '';
            display: inline-block;
            width: rem(5);
            height: rem(5);
            margin-left: rem(-16);
            margin-right: rem(11);
            background-color: $c_principal;
            border-radius: 999rem;
            vertical-align: middle;
            margin-bottom: rem(3);
        }
        ul {
            margin-top: rem(9);
            padding-left: rem(17);
            li:before {
                width: rem(7);
                height: rem(7);
                margin-left: rem(-16);
                margin-right: rem(10);
                border: solid rem(1) $c_principal;
                background-color: $w;
                margin-bottom: rem(4);
            }
        }
    }
    ol {
        counter-reset: olCounter;
        padding-left: rem(26);
        li {
            counter-increment: olCounter;
            text-indent: -16px;
            &:before {
                content: counter(olCounter) ". ";
                color: $c_text;
                font-size: 1em;
                font-weight: 500;
                margin-left: -2px;
                margin-right: 2px;
            }
        }
    }
    hr {
        border-color: $form_c_border;
        opacity: 1;
        margin-top: rem(25);
        margin-bottom: rem(25);
        &.full {
            margin-top: rem(26);
            margin-left: #{$psnn-box-x * -1}px;
            margin-right: #{$psnn-box-x * -1}px;
            border-color: $c_border;
            border-top-width: rem(2);
        }
    }

    p + p:not(.box-footer) {
        margin-top: rem(-6);
    }

    h3, .h3 {
        margin-top: rem(24);
        margin-bottom: rem(17);
    }
    h4, .h4 {
        margin-top: rem(22);
        margin-bottom: rem(9);
    }
    h5, .h5 {
        margin-top: rem(-1);
        margin-bottom: rem(6);
    }
    h6, .h6 {
        margin-top: rem(-1);
        margin-bottom: rem(8);
    }
}

h1.title_menu{
    font-size: rem(24) !important;
    color: black !important;
    font-weight: normal !important;
    line-height: em(29,24);
    margin-bottom: 0;
}

// Text-color
// .psnn-color-azul { color: $c_principal !important; }
// .psnn-color-gris { color: $c_gris !important; }
// .psnn-color-rojo { color: $c_alert !important; }